[submodule "rocksdb_sys/snappy"]
	path = bijou-librocksdb-sys/snappy
	url = https://github.com/google/snappy.git
[submodule "rocksdb_sys/rocksdb"]
	path = bijou-librocksdb-sys/rocksdb
	url = https://github.com/facebook/rocksdb.git
